@import url("https://fonts.googleapis.com/css?family=Raleway");
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 10, ../sass/style.scss */
body {
  background: #A3D7CA;
  font-family: 'Raleway', sans-serif;
}

/* line 15, ../sass/style.scss */
h1 {
  font-size: 40px;
  text-align: center;
  border-bottom: 2px solid #666;
  padding-bottom: 5px;
  margin: 1.5rem;
}

/* line 23, ../sass/style.scss */
h2 {
  font-size: 30px;
  text-align: center;
  margin: 1.5rem;
}

/* line 29, ../sass/style.scss */
.info__text {
  width: 80%;
  background: rgba(255, 255, 255, 0.7);
  margin: 2rem auto;
  padding: 1rem;
  font-size: 20px;
}

/* line 37, ../sass/style.scss */
.btn-container {
  text-align: center;
}
/* line 40, ../sass/style.scss */
.btn-container__btn {
  display: inline-block;
  padding: 1rem;
  font-size: 20px;
  background: #688ACC;
  border-radius: 10px;
  cursor: pointer;
}

/* line 50, ../sass/style.scss */
.disclaimer {
  font-size: 14px;
  text-align: center;
  width: 100%;
  color: #fff;
  margin: 3rem 0rem;
}

/* line 59, ../sass/style.scss */
.image-container {
  width: 300px;
  height: 433px;
  margin: auto;
  position: relative;
}

/* line 66, ../sass/style.scss */
.left-arm {
  position: absolute;
  left: 25px;
  top: 145px;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  cursor: pointer;
}

/* line 74, ../sass/style.scss */
.move-left-arm {
  -webkit-animation: move-left-arm 1s;
          animation: move-left-arm 1s;
}

@-webkit-keyframes move-left-arm {
  0%, 100% {
    left: 25px;
    top: 145px;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  50% {
    left: 6px;
    top: 140px;
    -webkit-transform: translate(-50%, 0%) rotate(30deg);
            transform: translate(-50%, 0%) rotate(30deg);
  }
}

@keyframes move-left-arm {
  0%, 100% {
    left: 25px;
    top: 145px;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  50% {
    left: 6px;
    top: 140px;
    -webkit-transform: translate(-50%, 0%) rotate(30deg);
            transform: translate(-50%, 0%) rotate(30deg);
  }
}
/* line 91, ../sass/style.scss */
.right-arm {
  position: absolute;
  left: 155px;
  top: 164px;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  cursor: pointer;
}

/* line 99, ../sass/style.scss */
.move-right-arm {
  -webkit-animation: move-right-arm 1s;
          animation: move-right-arm 1s;
}

@-webkit-keyframes move-right-arm {
  0%, 100% {
    left: 155px;
    top: 164px;
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
  }
  50% {
    left: 175px;
    top: 164px;
    -webkit-transform: translate(-50%, -100%) rotate(30deg);
            transform: translate(-50%, -100%) rotate(30deg);
  }
}

@keyframes move-right-arm {
  0%, 100% {
    left: 155px;
    top: 164px;
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
  }
  50% {
    left: 175px;
    top: 164px;
    -webkit-transform: translate(-50%, -100%) rotate(30deg);
            transform: translate(-50%, -100%) rotate(30deg);
  }
}
/* line 116, ../sass/style.scss */
.left-leg {
  position: absolute;
  left: 80px;
  top: 297px;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  cursor: pointer;
}

/* line 124, ../sass/style.scss */
.move-left-leg {
  -webkit-animation: move-left-leg 1s;
          animation: move-left-leg 1s;
}

@-webkit-keyframes move-left-leg {
  0%, 100% {
    left: 80px;
    top: 297px;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  50% {
    left: 53px;
    top: 279px;
    -webkit-transform: translate(-50%, 0%) rotate(30deg);
            transform: translate(-50%, 0%) rotate(30deg);
  }
}

@keyframes move-left-leg {
  0%, 100% {
    left: 80px;
    top: 297px;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  50% {
    left: 53px;
    top: 279px;
    -webkit-transform: translate(-50%, 0%) rotate(30deg);
            transform: translate(-50%, 0%) rotate(30deg);
  }
}
/* line 141, ../sass/style.scss */
.right-leg {
  position: absolute;
  left: 137px;
  top: 270px;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  cursor: pointer;
}

/* line 149, ../sass/style.scss */
.move-right-leg {
  -webkit-animation: move-right-leg 1s;
          animation: move-right-leg 1s;
}

@-webkit-keyframes move-right-leg {
  0%, 100% {
    left: 137px;
    top: 270px;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  50% {
    left: 170px;
    top: 261px;
    -webkit-transform: translate(-50%, 0%) rotate(-30deg);
            transform: translate(-50%, 0%) rotate(-30deg);
  }
}

@keyframes move-right-leg {
  0%, 100% {
    left: 137px;
    top: 270px;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  50% {
    left: 170px;
    top: 261px;
    -webkit-transform: translate(-50%, 0%) rotate(-30deg);
            transform: translate(-50%, 0%) rotate(-30deg);
  }
}
/* line 166, ../sass/style.scss */
.hide {
  display: none;
  width: 0px;
  height: 0px;
  opacity: 0;
  overflow: hidden;
}
