@import url('https://fonts.googleapis.com/css?family=Raleway');

@import "compass/reset";

* {
  box-sizing: border-box;

}

body {
  background: #A3D7CA;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 40px;
  text-align: center;
  border-bottom: 2px solid #666;
  padding-bottom: 5px;
  margin: 1.5rem;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin: 1.5rem;
}

.info__text {
  width: 80%;
  background: rgba(255,255,255,0.7);
  margin: 2rem auto;
  padding: 1rem;
  font-size: 20px;
}

.btn-container {
  text-align: center;
  
  &__btn {
    display: inline-block;
    padding: 1rem;
    font-size: 20px;
    background: #688ACC;
    border-radius: 10px;
    cursor: pointer;
  }
}

.disclaimer {
  font-size: 14px;
  text-align: center;
  width: 100%;
  color: #fff;
  margin: 3rem 0rem;
}


.image-container {
  width: 300px;
  height: 433px;
  margin: auto;
  position: relative;
}

.left-arm {
  position: absolute;
  left: 25px;
  top: 145px;
  transform: translate(-50%,0%);
  cursor: pointer;
}

.move-left-arm {
  animation: move-left-arm 1s;
}

@keyframes move-left-arm {
  0%, 100% {
    left: 25px;
    top: 145px;
    transform: translate(-50%,0%);
  }
  50% {
    left: 6px;
    top: 140px;
    transform: translate(-50%, 0%) rotate(30deg);
  }
}

.right-arm {
  position: absolute;
  left: 155px;
  top: 164px;
  transform: translate(-50%,-100%);
  cursor: pointer;
}

.move-right-arm {
  animation: move-right-arm 1s;
}

@keyframes move-right-arm {
  0%, 100% {
    left: 155px;
    top: 164px;
    transform: translate(-50%,-100%);
  }
  50% {
    left: 175px;
    top: 164px;
    transform: translate(-50%, -100%) rotate(30deg);
  }
}

.left-leg {
  position: absolute;
  left: 80px;
  top: 297px;
  transform: translate(-50%,0%);
  cursor: pointer;
}

.move-left-leg {
  animation: move-left-leg 1s;
}

@keyframes move-left-leg {
  0%, 100% {
    left: 80px;
    top: 297px;
    transform: translate(-50%,0%);
  }
  50% {
    left: 53px;
    top: 279px;
    transform: translate(-50%, 0%) rotate(30deg);
  }
}

.right-leg {
  position: absolute;
  left: 137px;
  top: 270px;
  transform: translate(-50%,0%);
  cursor: pointer;
}

.move-right-leg {
  animation: move-right-leg 1s;
}

@keyframes move-right-leg {
  0%, 100% {
    left: 137px;
    top: 270px;
    transform: translate(-50%,0%);
  }
  50% {
    left: 170px;
    top: 261px;
    transform: translate(-50%, 0%) rotate(-30deg);
  }
}

.hide {
  display: none;
  width: 0px;
  height: 0px;
  opacity: 0;
  overflow: hidden;
}

